@font-face {
    font-family: 'Norse-Bold'; /* Specify the font family name */
    src: url('Norse-Bold.otf') format('opentype'); /* Path to the font file */
  }
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./intense.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }

  .header {
    text-align: center;
    margin-top: 100px;
  }

  .brand-name {
    font-family: 'Norse-Bold', Arial, sans-serif;
    font-size: 36px;
    
  }

  .brand-icon {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    stroke: aliceblue;

  }

  .slogan {
    font-size: 18px;
    margin-top: 20px;
   
  }

  .sign-up-form {
    text-align: center;
    margin-top: 50px;
    
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(93, 37, 17, 0.5);
    color:bisque
  }

  input[type="submit"] {
    background-color: rgba(93, 37, 17,0.5) ;

    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
  }

    /* Placeholder color */
    input::placeholder {
        color: white;
      }